<!doctype html>
<html>
	<head>
		<meta http-equiv="cache-control" content="no-cache">
		<meta http-equiv="pragma" content="no-cache">
		<title>waypoints database</title>
		<link href="{{url_for('static',filename='css/style.css')}}"
		rel="stylesheet">
	</head>
	<body>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="/">Minimap Waypoints Database</a>
				</div>
			</div>
		</div>
		<div class="container" id="page-content">
			<div class="row">
				<div class="span6 offset3">
					Soon...
				</div>
			</div>
		</div>
	</body>
</html>
