<!doctype html>
<html>
	<head>
		<meta http-equiv="cache-control" content="no-cache">
		<meta http-equiv="pragma" content="no-cache">
		<title>waypoints database</title>
		<link href="{{url_for('static',filename='css/style.css')}}"
			rel="stylesheet">
		<script type="text/javascript">var URL_ROOT = "{{scriptRoot}}";</script>
		<script data-main="{{ url_for('static',filename='js/main.js')}}"
			src="{{url_for('static',filename='js/lib/require.js')}}"></script>
	</head>
	<body>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand">Minimap Waypoints Database</a>
					<ul class="nav">
						<li><a href="about">About</a></li>
						<li><a href="#helpModal" data-toggle="modal" class="help"><i
								class="icon-question-sign"></i>Help</a></li>
						<li><a href="#" class="add">Add Waypoint</a></li>
					</ul>
					<button class="btn btn-small pull-right download-points"
						>Download Points</button>
				</div>
			</div>
		</div>
		<div class="container" id="page-content">
			<div class="row">
				<div class="span8 offset2 accordion" id="point-list"></div>
			</div>
		</div>
		<div id="helpModal" class="modal hide fade">
			<div class="modal-header">
				<button type="button" class="close"
					data-dismiss="modal">&times;</button>
				<h3>Help</h3>
			</div>
			<div class="modal-body">
				<p>Nothing here... yet./p>
			</div>
			<div class="modal-footer">
				<a href="#" data-dismiss="modal" class="btn">Close</a>
			</div>
		</div>
	</body>
</html>
